<div class="container">
    <div class="box">
        <form class="form">
        <span>Login</span><br>
        <input [(ngModel)]="login" name="login" class="login width input-group-text" type="text" placeholder="Enter login"><br>

        <span>Password</span><br>
        <input [(ngModel)]="pass" name="pass" class="pass width input-group-text" type="password" placeholder="Enter password"><br>

        <span>Email address</span><br>
        <input [(ngModel)]="email" name="email" class="email width input-group-text" type="email" placeholder="Enter email"><br>

        <input (click)="addUser()" [hidden] = "!checker" class="add btn btn-outline-success" type="button" value="Add user">
        <input (click)="editBtn()" [hidden] = "checker"  id="none" class="editUser btn btn-outline-success" type="button" value="Edit user">
    </form>
    </div>
    <div id="myTable" class="table myTable">
        <table>
            <tr>
                <th>#</th>
                <th>Login</th>
                <th>Password</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tbody class="tbody">
                <tr *ngFor="let arr of users; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{arr.login}}</td>
                    <td>{{arr.pass}}</td>
                    <td>{{arr.email}}</td>
                    <td>
                        <button (click)="editUser(i)" class="btn btn-warning">Edit</button>
                    </td>
                    <td>
                        <button (click)="deleteUser(i)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<router-outlet></router-outlet>
